@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.pokemonGradient:hover {
    filter: invert(100%);
}

.pokemonGradient:hover .invertIgnore {
    filter: invert(100%);
}

@theme {
    --color-fire: #e4613e;
    --color-fire-bg: #8a211c;
    --color-water: #3099e1;
    --color-water-bg: #231d94;
    --color-steel: #74b0cb;
    --color-steel-bg: #94887d;
    --color-rock: #a9a481;
    --color-rock-bg: #60481d;
    --color-psychic: #e96c8c;
    --color-psychic-bg: #916060;
    --color-poison: #9354cb;
    --color-poison-bg: #46354f;
    --color-normal: #828282;
    --color-normal-bg: #715746;
    --color-ice: #47c8c8;
    --color-ice-bg: #9a9acd;
    --color-ground: #a4733c;
    --color-ground-bg: #6f521e;
    --color-grass: #439837;
    --color-grass-bg: #57813e;
    --color-ghost: #6f4570;
    --color-ghost-bg: #473252;
    --color-flying: #74aad0;
    --color-flying-bg: #563e79;
    --color-fighting: #e49021;
    --color-fighting-bg: #63492b;
    --color-fairy: #e18ce1;
    --color-fairy-bg: #845b68;
    --color-electric: #dfbc28;
    --color-electric-bg: #988325;
    --color-dragon: #576fbc;
    --color-dragon-bg: #463591;
    --color-dark: #4f4747;
    --color-dark-bg: #34312d;
    --color-bug: #9f9f28;
    --color-bug-bg: #5a690c;
    --color-mutant: #a27292;
    --color-mutant-bg: #53374a;
    --color-hyper-effective: #2e8bcf;
    --color-super-effective: #2e8b57;
    --color-not-effective: #b04f4a;
    --color-barely-effective: #e3649f;
    --color-not-very-effective: #f7be81;
}

@source inline("{hover:bg,bg,to,from}-{fire,water,steel,rock,psychic,poison,normal,ice,ground,grass,ghost,flying,fighting,fairy,electric,dragon,dark,bug,mutant}{,-bg}");
